.InputinfoInline{
  text-align:center;
}

#title{
  text-align:center;
  font-size:2.5em;
  color: #41bbff;
}

#intro{
  text-align:center;
  color:  #41bbff;
}

#buttonBar{
  position:absolute;
  right:100px;
}
.searchBar{
	align-items: center;
}
#welcomePage{
	vertical-align: top;
	height: 1000px;
}
#footer{
	margin-top: 700px;
	margin-left: 570px;
	color: #41bbff;
	font-size: 2.5em;
}